{% extends "base.html" %}
{% block content %}
    <div class="alert alert-success" role="alert">
        <strong>New!</strong> Check-out this cool <a href="{{ url_for('prime_blueprint.v2') }}">prime generator</a>!
    </div>
    {% if current_user.is_authenticated %}
        <h1 class="jumbotron-heading">Index - Logged in!</h1>
        <p class="lead text-muted">Some inspiring text. Give it another <a href="{{ url_for('auth_blueprint.logout') }}">try</a>?</p>
    {% else %}
        <h1 class="display-4">Index</h1>
        <p class="lead">Some inspiring text.</p>
    {% endif %}
{% endblock %}
