{% extends "base.html" %}
{% block content %}
    {% if current_user.is_authenticated %}
        <h1 class="display-4">Nothing to do here...</h1>
        <p class="lead">Seems like you're already logged in!</p>
    {% else %}
        <h1 class="display-4">Login</h1>
        <p class="lead">Ready. Set. Awesomeness!</p>

        {% if data %}
            <div class="alert alert-danger" role="alert">
                <p>
                    <strong>You must be retarded!</strong> No user with username <strong>{{ data.username }}</strong>
                    and password <strong>{{ data.password }}</strong>!

                    {{ data.error }}
                </p>
            </div>
            <a href="{{ url_for('auth_blueprint.login') }}" class="btn btn-warning">Try again!</a>
            <a href="{{ url_for('user_blueprint.register') }}" class="btn btn-success">Register!</a>
        {% endif %}
        {% if form.errors.items() %}
            <div class="alert alert-danger" role="alert">
                {% for field, errors in form.errors.items() %}
                    <p><strong>{{ form[field].label }}:</strong> {{ ', '.join(errors) }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <form role="form" action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.email.label(class="form-label") }}
                {{ form.email(placeholder="Enter email", class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(placeholder="Enter password", class="form-control", type="password") }}
            </div>
            <button type="submit" class="btn btn-primary">Login!</button>
        </form>
    {% endif %}
{% endblock %}
